
.alert
{
  position:fixed;
  left:1em;
  bottom:1em;
  display:none;
}

.log-actions
{
	margin:0 0 1em 0;
}

#log-text
{
  height:300px;
  padding:1em;
  overflow:auto;
}

#log-text hr
{
  margin:1rem 0 .5rem 0;
  border-color: #ccc;
}

small
{
	font-color:#999;
}
